.Home {
    background-color: #e2e2ff;
}

.choosingCards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sellCard {
    height: 150px;
    margin: 50px 20px;
    width: 300px;
    background-color: #260064;
    color: white;
    border-radius: 10px;
}

.buyCard {
    height: 150px;
    margin: 50px 20px;
    width: 300px;
    background-color: #260064;
    color: white;
    border-radius: 10px;
}

.requestCard {
    height: 150px;
    margin: 50px 20px;
    width: 300px;
    background-color: #260064;
    color: white;
    border-radius: 10px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 40px 0px;
}

.category {
    text-align: center;
    margin: 10px 10px;
    background-color: royalblue;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    transition: 0.2s;
}

.category:hover {
    box-shadow: 0px 1px 10px black;
    transition: 0.2s;
}

.category p {
    font-size: 20px;
    margin: 20px 0px;
}


.cardTitle {
    margin: 30px 0px 20px 20px;
    font-size: 30px;
}

.cardDescription {
    margin: 20px ;
}


.productTitle {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.productProducts {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.productProduct {
    margin: 20px 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 310px;
}

.loadMore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loadBtn {
    margin: 20px 0px;
    width: 200px;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border-radius: 5px;
    transition: 0.2s;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}

.loadBtn:hover {
    background-color: #260064;
    color: white;
    transition: 0.2s;
}